/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
:root {
  --font-family: 'Bricolage Grotesque', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 16px !important;
  color: #000;
  font-weight: 700 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

del {
  line-height: 1.6;
  font-size: 13px;
  text-align: center;
  margin-right: 7px;
  color: #666;
  font-weight: 600;
}

h3 {
  font-family: var(--font-family);
  font-size: 30px;
}

h4 {
  font-family: var(--font-family);
  font-size: 1.2rem;
}

h5 {
  font-family: var(--font-family);
  font-size: 1.1rem;
}

p {
  font-family: var(--font-family);
}

span {
  font-family: var(--font-family);
}

/* navbar  */
.nav-main {
  padding: 15px 15px;
  align-items: baseline;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .08);
  margin-bottom: 13px;
}

.Categories-nav {
  display: flex;
  align-items: baseline;
}

.nav-cate {
  padding: unset !important;
  margin: unset !important;
}

.nav-cate li {
  padding: 0px 9px;
}

li {
  list-style: none;
}

.icons-nav ul {
  align-items: center;
}

.icons-nav ul li {
  padding: 0 10px;
}

.cart-items {
  background: linear-gradient(87deg, #fb6340, #da1c5f);
  border-color: #fb6340;
  width: 18px !important;
  height: 18px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -11px;
  left: 19px;
  border-radius: 50%;
  color: #ffff;

}



/* slider  */

.banner {
  position: relative;
}

.banner-container {
  width: 100%;
  min-height: 400px;
}

.banner-container img {
  width: 100%;
  height: 100%;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 50%;
}

.banner-text h3,
.banner-text p {
  font-family: monospace;
  font-style: italic;
  color: #fff;
}

.selectors {
  position: absolute;
  top: 60%;
  right: 3%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* categories ..  */

.cat-header {
  padding: 30px 0;
  text-align: center;
}

.TOP-BRANDS {
  padding-top: 30px;
  text-align: center;
}

.banners-items {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}



/* slick custom css  */


.slider-card {
  position: relative;
  outline: none !important;
  border-radius: 10px;
}

.slider-card:hover {
  box-shadow: 0px 12px 28px 0px rgb(235 240 246 / 30%);

}

.slider-img {
  height: 325px !important;
  cursor: pointer;
}

.slider-img img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slick-slide {
  height: 400px !important;
}

.slick-track {
  display: flex !important;
  justify-content: space-between !important;
  gap: 20px !important
}

.slick-active {
  outline: none !important;
}

.slick-prev {
  left: 25px !important;
  z-index: 9999;
}

.slick-next {
  right: 25px !important;
}

.slick-next,
.slick-prev {
  height: 45px !important;
  width: 45px !important;
  top: 42% !important;
  border-radius: 100% !important;
  text-align: center !important;
}


.slick-next:before {
  content: '►' !important;
  font-family: 'slick';
  font-size: 22px !important;
  line-height: 1.9 !important;
  opacity: .75;
  color: #000000 !important;
  -webkit-font-smoothing: antialiased;
  margin-left: 6px !important;

}

.slick-prev:before {
  content: '◄' !important;
  font-family: 'slick';
  font-size: 22px !important;
  line-height: 1.9 !important;
  opacity: .75;
  color: #000000 !important;
  -webkit-font-smoothing: antialiased;
  margin-right: 6px !important;
}

.flip-card {
  background-color: transparent;
  /* width: 300px; */
  height: 174px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}



/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: #170303;
  transform: rotateY(180deg);
}


.parcent {
  letter-spacing: normal;
  color: #ea3f51;
  font-size: 11px;
  font-weight: 600;
}

/* trending tabs css  */
.nt-tabs-top {
  width: 100%;
}

.ant-tabs-nav-wrap {
  justify-content: center !important;
}

.ant-tabs-tab-btn {
  color: #000000 !important;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-tabs .ant-tabs-ink-bar {
  background: #000 !important;
}


/* view item css  */

.viewitem-main {
  background-color: #ffff;

}

.viewitemcard {
  background-color: #fafafafa;
  margin-top: 20px;
  width: 100%;
  height: 568px;
  /* background-color: red; */

}

.viewitemcard .col-md-6 {
  height: 100%;
}

.ant-image-img,
.ant-image {
  height: 100% !important;
  width: 100% !important;
}

.ant-image img {

  object-fit: cover;
}

.viewitem-carddescription {
  margin-top: 40px;
}

.viewitem-heading {
  margin-bottom: 1rem;

}

.headingh3 {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 30px;
  font-family: var(--font-family);
}

.viewitem-des {
  margin-bottom: 10px;
}

.viewitem-price {
  margin-bottom: 30px;
}

.viewiteme-dleteprice {
  font-weight: 600;
  font-size: 1rem;
}

.viewnitem-disprice {
  font-size: 1.3rem;
  font-weight: 900;
  color: #d01345;
}

.viewitem-livesale {
  padding: 5px 9px;
  background: #f1de0a;
  width: fit-content;
  border-radius: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

}

.viewitem-livesale span {
  font-style: normal;
  font-weight: 800;
}

.viewitem-livesale img {
  width: 12px;
  margin-left: 3px;
}

.para {
  font-family: var(--font-family);
  margin: 0 !important;
  padding: 0 !important;
  color: grey;
  font-weight: 500;
}

.viewitem-sizes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.viewitem-size {
  text-align: center;
  min-width: 45px;
  height: 45px;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  border: 1px solid #000;
  color: #000;
  margin-right: 14px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  display: flex;
}

.selected {
  background: linear-gradient(87deg, #fb6340, #da1c5f);
  border-color: #fb6340;
  color: #fff;
  position: relative;
  outline: none;
}

.viewitem-addtocart {
  width: 60%;
}

.viewitem-addtocart button {
  background: linear-gradient(87deg, #fb6340, #da1c5f) !important;
  border: #fb6340;
  transition: all .2s ease 0s;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  width: 100%;
  height: 56px;
  font-family: var(--font-family);

}

.viewitem-WishList {
  width: 40%;
}

.viewitem-WishList span {
  border: 1px solid #707070 !important;
  width: 100%;
  height: 56px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  padding: 0 15px;
  cursor: pointer;
  font-family: var(--font-family);
}


/* cards css  */

.cards-view {
  /* display: flex;
  justify-content: space-between;
  width: 100%; */
}

.cardeach {
  position: relative;
  /* width: 300px !important; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.card-heart {
  position: absolute;
  right: 7%;
  top: 3%;
  width: 10px;
  background-color: hsla(0, 0%, 100%, .8);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-description {
  padding: 5px;
}

.card-description h5 {
  text-align: left;
  color: #999 !important;
  margin: 0;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.cardeach:hover .overlay {
  width: 100%;
}

.cardeach:hover .overlay2 {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}